[project]
	description = Open-source alternative to ILMerge
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maria2na
[access "refs/for/refs/*"]
	read = group user/maria2na
	push = group user/maria2na
	label-Code-Review = -2..+2 group user/maria2na
	label-Verified = -1..+1 group user/maria2na
	rebase = group user/maria2na
	removeReviewer = group user/maria2na
	submit = group user/maria2na
[access "refs/heads/*"]
	read = group user/maria2na
	create = group user/maria2na
	push = +force group user/maria2na
	pushMerge = group user/maria2na
[access "refs/tags/*"]
	push = +force group user/maria2na
	pushTag = group user/maria2na
	pushSignedTag = group user/maria2na
